.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
  font-size: calc(10px + 2vmin);
  color: rgb(13, 233, 104);
}

.App-link {
  color: rgba(3, 85, 79, 1);
}
